<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Quizzes</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-classic/resources/theme-classic-all.css" type="text/css">
    </head>
    <body>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all.js"></script>
            <script>

            /*
            $.getJSON("/quiz", function (data) {
                let table =  $("#table")
                data.map(quiz => {
                    let row = table.append(`<tr></tr>`)
                    for(const property in quiz){
                        row.append(`<td>${quiz[property]}</td>`)
                    }
                    row.append(`<td><a href="/quiz/${quiz.id}">Join</a></td>`)
                })
            })
            */
            $( document ).ready(function() {
                debugger
                $.getJSON("/quiz", function (data) {
                   ;

                    Ext.create('Ext.grid.Panel', {
                        title: 'Quizzes',
                        store: Ext.data.StoreManager.lookup('quizzes'),
                        columns: [
                            { text: 'Quiz', dataIndex: 'id' },
                            { text: 'Join',  dataIndex: 'id',
                                renderer: function(value) {
                                    return Ext.String.format('<a href="/quiz/{0}">JOIN</a>', value);
                                }
                            }
                        ],
                        height: 200,
                        width: 400,
                        renderTo: Ext.getBody()
                    });
                })
            });


        </script>
    </body>
</html>