<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Quizzes</title>
    </head>
    <body>
        <form action="/r/quiz" method="post" id="form" enctype='application/json' style="max-width: 20%">
            <div id="questions1"
                 style="border: black solid 2px;border-bottom: none; display: flex; flex-direction: column; padding: 10px">
                <button type="button" onclick="addQuestion()" > + </button>
                <select id="select" name="questions"></select>
            </div>

            <div id="questions2"
                 style="border: black solid 2px; display: flex; flex-direction: column; margin-bottom: 5px; padding: 10px">
                <button type="button" onclick="addCustomQuestion()">Add Custom Question</button>
            </div>

            <button type="submit">Create Quiz</button>
        </form>

        <table id="table">
            <thead>
                <th>QuizID</th>
                <th>QuizAuthor</th>
                <th></th>
            </thead>
        </table>

        <script src="jquery-1.9.1.min.js"></script>
        <script>
            let questions = []
            $.getJSON('/question', function(data){
                questions = data;

                let select = $("#select")
                data.map(q => {
                    select.append(`<option value=${q.id}> ${q.condition} </option>`)
                })
            })

            function addQuestion(){
                let div = $("#questions1")
                div.append($("#select").clone(true,true))
            }

            function addCustomQuestion(){
                let div = $("#questions2")
                div.append("<input name='customQuestions' type='text'>")
                div.append("<input name='customQuestionPoints' type='number'>")
            }



            $.getJSON("/quiz", function (data) {
                let table =  $("#table")
                data.map(quiz => {
                    let row = table.append(`<tr></tr>`)
                    for(const property in quiz){
                        row.append(`<td>${quiz[property]}</td>`)
                    }
                    row.append(`<td><a href="/quiz/${quiz.id}">Join</a></td>`)
                })
            })
        </script>
    </body>
</html>