<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Game: <%=quizId%></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/classic/theme-classic/resources/theme-classic-all.css" type="text/css">
</head>
<body>
    <button onclick="nextQuestion()"> Next Question </button>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all.js"></script>
    <script>
        let quizId = <%=quizId%>
        let userId = <%=userId%>

        const socket = io.connect("localhost:5555")

        socket.on('question',function (data) {
            if (data == 'ended')
            console.log(data);
        })

        function nextQuestion(){
            $.post(`/nextQuestion/${quizId}`,function () {

            })
        }

        $( document ).ready(function() {
            $.getJSON("/quizmembers", function (data) {
                Ext.create('Ext.data.Store', {
                    storeId: 'quizmembers',
                    fields:['id', 'points'],
                    data: data
                });

                Ext.create('Ext.grid.Panel', {
                    title: 'quizmembers',
                    store: Ext.data.StoreManager.lookup('quizmembers'),
                    columns: [
                        { text: 'UserID', dataIndex: 'id' },
                        { text: 'Points',  dataIndex: 'points'}
                    ],
                    height: 200,
                    width: 400,
                    renderTo: Ext.getBody()
                });
            })
        });

    </script>
</body>
</html>