<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Quizzes</title>
    </head>
    <body>
        <input type="text" id="privateId" name="privateId">

        <button type="submit" onclick="login()">Login</button>

        <script src="/jquery-1.9.1.min.js"></script>
        <script>
            function login(){
                let privateId = $("#privateId").val()
                $.post('/login', {privateId: privateId}, function(data){
                    console.log(data)
                })
                    .then(s=> {
                        window.location = '/quizzes';
                    })
            }

        </script>
    </body>
</html>
